/* ### Card styling Area ###  */
.cardTop img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}   
  
.country{
    margin: 20px;
    box-shadow: 0 3px 8px 7px var(--white-2), 0 6px 20px 0 ;
    width: 500px;
    border-radius: 5px;
} 

.country p, .country h2 { 
    margin-left: 20px;
    padding:10px ;
}
  
.country h2{
    padding-top: 50px;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 2rem ;
    margin: 0;
    min-height: 77vh;
}

.cardTop{
    background-color:var(--ml-1);
}
span{
    font-weight:bolder;
    margin-right: 1rem;
}

.lang, .border{
   font-size: 20px;
}

