.CountrySingle{
    padding: 30px;
    font-size: 30px;
    min-height: 65vh;
    margin: 20px auto;
    width: 700px;
    text-align: center;
}



.CountrySingle .city{
   color: var(--yellow-6) ;
    
}

.CountrySingle .country p, .CountrySingle .country h2 { 
    margin-left: 20px;
    padding:10px ;
}

.CountrySingle .country{
    text-align: start;
    justify-content: center;
    align-items: center;
    
} 
