

.home{
  background-image: url('https://source.unsplash.com/l68Z6eF2peA');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 
.home, .about{
    text-align: center;
    color: var(--black);
    font-family: var( --font-2);
    font-size: 1rem;
    min-height: 57vh;
}
  
.home h3, .about h3{
  margin: auto;
  width: 50%;
  padding: 20px;
}
.about img{
  width:800px;
  height: 400px;
  opacity: 1;
 
}


  