/* ####### Input ####### */
input, select
{
  padding: 20px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  width: 60%;
  font-family: var(--font-2);
  border-width: 10px;
  border-color:var(--ml-2);
  margin: 0 50px;

}
label {
  display: inline-block;
  width: 50%;
  font-size: 40px;
  padding: 20px;
  margin: 30px;  
}
.search{
  text-align: center;
  width: 100vw;
}



select
{
    width: 30%;
}