@media screen and (max-width:568px) {
    html,body{
        overflow-x: hidden;
    }

    header{
        padding: 0px;
        font-size: 20px;
        margin: 0;
       
    }
    nav ul li {
        margin: 5px;
    }
    nav ul li a {
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
    .home, .about{
        font-size: 1rem;
    }
    .home h3, .about h3{
      padding:5px;
      
    }
   .about h3{
        font-size: 10px;
    }

    .about img{
      width:300px;
      height: 200px;
     
    }
    p{
        font-size: 0.8rem;
    }

    /* card */
    .country{
        width: 250px;
    } 
    span{
        margin-right: 0.4rem;
    }
    
    .lang, .border{
       font-size: 10px;
    }
    
    .country a{
        font-size: 1rem;
    }
    .country h2{
        font-size: 30px;
    }

    .countries{
        padding: 0;
    }

    /* input */
     .countries select
        {
        padding: 5px;
        width: 300px;
        font-size: 20px;
        }
        .countries input
        {
       margin-left: -40px;
        padding: 5px;
        width: 300px;
        font-size: 20px;
        }

        .countries .search
        {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

        /* single */
    .CountrySingle{
        padding: 0;
        margin: 0;
        width: 300px;
        text-align: center;
    }

    footer .icons i {
        font-size: 20px;
    }
    footer p{ 
        font-size: 1rem; 
    }

    .CountrySingle{
        padding-left: 20px;
    }
          
}


@media screen and (min-width:569px) and (max-width:768px) {

    header{
        padding: 0px;
        font-size: 20px;
        margin: 0;
       
    }

    .about img{
        width:700px;
        height: 400px;
       
      }

      .about h3{
        font-size: 25px;
    }
    nav ul li a {
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    .home {
        min-height: 70vh;
    }

}