
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');


:root{
  --white:#f7f3f3;
  --black:black;

  --bg-color-1:#0b520b;
  --bg-color-2:#333333e6;
  --bg-color-3:#becf21;
  --bg-color-4:#0b213b80;
  --bg-color-5:#0b520b;
  --bg-color-6:#ffa500;
  --bg-color-7:#ceb17a;

  --color-1:#7290be;
 --color-2:#cecece;
 --color-3:#f5f5f5;
 --color-4:#333;
 --color-5:#a52a2a;

 --accent-1: #458179;
 --accent-2: #4da296;
 --accent-3: #8dd8cf;
 --accent-4: #92cfc7;
 --accent-5: #d7f2ef;

  /* melon */
  --ml-1:#e8a598;
  --ml-2:#ffb5a7;
  --ml-3:#fec5bb;
  --ml-4:#fcd5ce;
  --ml-5:#fae1dd;
  --ml-6:#f8edeb;


  --font-1: 'Caveat', cursive;
  --font-2:'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body .App_F  {
  background-color: var(--ml-2);
  font-family: var(--font-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App_F input,
.App_F select, .App_F textarea {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 20px;
  width: 500px;
  margin-top: 20px;
  font-family: var(--font-2);
  background-color: var(--color-3);
}

.App_F label {
  display: inline-block;
  width: 20%;
  font-size: 30px;
  margin-left: 10px;
  text-align: left;
}
.App_F button{
  background-color: var(--ml-1);
  color:var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-4);
  padding: 1rem;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.App_F{
  text-align: center;
  justify-content: center;
  margin: 50px auto;
}


  




